* {
	font-family: Lato, sans-serif;
}

.date {
	width: 160px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-flex-direction: column;
	padding: 0;
	margin-bottom: 27px;
}



/*main {*/
	/*flex: 1;*/
	/*-webkit-flex: 1;*/
/*}*/


.footer {
	height: 27px;
	padding: 5px;
	background: #F6BE00;
	clear: both;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.h1 {
	padding: 13px;
	margin: 0px 0px 0px 10px;
	clear: both;
}

.h2 {
	clear: both;
	margin: 0;
	height: 10px;
}

.h22 {
	clear: both;
	margin: 0;
	height: 20px;
}

.page-header {
	background: #F6BE00;
	clear: both;
	width: 100%;
	margin: 0;
}

.headEnd {
	background: #003A70;
	clear: both;
	width: 100%;
	margin: 0;
}

html {
	min-height: 100%;
	position: relative;
}

.name {
	width: 192px;
}

.phone {
	width: 154px;
}

.email {
	width: 320px;
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato.woff2") format("woff2"), url("../fonts/lato.woff") format("woff");
}

.container-fluid {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

img {
	width: auto;  /* you can use % */
	height: auto;
	float: right;
}

span {
	display: inline-block;
	/*vertical-align: middle;*/
	padding-top: inherit;
}

.modal-dialog {
	width: 500px;
}

.row-fluid {
	width: 100%;
	padding: 0;
}

a {
	cursor: pointer;
	cursor: hand;
}



