* {
	font-family: Lato;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-flex-direction: column;
}

main {
	flex: 1;
	-webkit-flex: 1;
	
}

footer {
	padding: 10px;
	background: #F6BE00;
}

h1 {
	padding: 10px;
	margin: 0px 0px 0px 10px;
}

.headBegin {
	background: #F6BE00;
}

.headEnd {
	background: #003A70;
	margin: 0px 0px 10px 0px;
}

.date {
	width: 10%
}

.name {
	width: 15%;
}

.phone {
	width: 12%;
}

.email {
	width: 25%
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato.woff2") format("woff2"), url("../fonts/lato.woff") format("woff");
}