body {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	-webkit-flex-direction: column;
}

main {
	flex: 1;
	-webkit-flex: 1;
	
}

header, footer {
	background: #ccc;
}

h1 {
	padding: 10px;
	margin: 0;
}

